<div class="menu_show">
<% @recipes.each do |recipe| %>

  <strong><%= link_to("Show #{recipe.name}", recipe_path(recipe) )%></strong>
  <%= link_to('Edit Recipe', edit_recipe_path(recipe)) %>
  <%= button_to('Destroy Recipe', recipe_path(recipe), method: :delete, data: {confirm: 'Destroy Recipe? Are you sure?'}) %>
  <br>
  <br>
<% end %>
<%= link_to('New Recipe', new_recipe_path(@recipe)) %>
</div>