/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

/*Peter's code begins here*/

body {
   background-image: url("http://i.imgur.com/iZcUNxH.gif");
   background-size: 100%;
   text-align: left;
}

.category_index {
   background-color: black;
   width: 20%;
   text-align: left;
   opacity: 0.7;
   font-size: 20px;

}

.menu {
   background-color: white;
   width: 20%;
   opacity: 0.6;
   font-size: 12px;
   position: absolute;
   right: 40px;
   top: 20px;
}

.menu_show {
   background-color: white;
   width: 25%;
   text-align: left;
   opacity: 0.6;
   font-size: 15px;
}

.show {
   background-color: white;
   width: 20%;
   text-align: left;
   opacity: 0.7;
   font-size: 20px;
}

.field {
   background-color: white;
   width: 20%;
   text-align: left;
   opacity: 0.7;
   font-size: 20px;
}

ul {
   background-color: white;
   width: 20%;
   text-align: left;
   opacity: 0.7;
   font-size: 20px;
   text-decoration: none;
   font-style: none;
}

.navbar {
   background-color: white;
   width: 50%;
   text-align: left;
   opacity: 0.7;
   font-size: 20px;
}