<div class="category_index">
<% @categories.each do |category| %>

 <strong> <%=  category.name %> </strong>

  <%= button_to('Destroy Element', category_path(category), method: :delete, data: {confirm: 'Destroy Element? Are you sure?'}) %>

  <%= link_to('Edit Element', edit_category_path(category)) %>
  <br>
  <br>
<% end %>
<%= link_to('New Element', new_category_path(@category)) %>
</div>